/extgen.schema.json
/CMakeLists.txt
/CMakeUserPresets.json
/CMakePresets.json
/.clang-format
code_gen/
project/extensions/ICompression/injectors
project/extensions/ICompression/ICompression.dll
project/scripts/ICompression_API/ICompression_API.gml
project/scripts/GMExtCore/GMExtCore.gml
cmake/
build/
out/
templates/
/docs
docs/documentation.json
*.o
*.obj
*.dll
*.so
*.dylib
*.exe
*.lib
*.exp
*.ilk
*.pdb
